# Supabase Configuration
VITE_SUPABASE_URL=https://sdnhmsmrjrjkzuivgcas.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNkbmhtc21yanJqa3p1aXZnY2FzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE4NzgwNzcsImV4cCI6MjA2NzQ1NDA3N30.ZbKKvEs5tnPQ0xY03I0WlJhqvn-0cYtwaVGtpVZM3UU